[{rabbitmq_federation, [
    {internal_exchange_check_interval, 86400000}]
    },

  {rabbit,[
      {loopback_users, []},
      {vm_memory_high_watermark,{absolute, 900000000}}, % We can not set absolute value in 3.6.x
      {vm_memory_high_watermark_paging_ratio,0.3}
  ]},
  {rabbitmq_management,
  [
      {load_definitions, "/definitions.json"}
      ]
  }
].
